body{
    background-color: rgba(0,0,0,0.7);
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
}



.grid{
    display: flex;
    width:250px;
    height: 500px;
    flex-wrap: wrap;
    
   background-color: black;
   border: 3px solid white;
}


.grid div{
    width: 25px;
    height: 25px;
    
    
}


.snake{
    background-color: hsl(120, 75%, 73%);
    box-shadow: inset 2px 3px 4px;
    border-radius: 50%;
}





img{
    width: 25px;
    height: 25px;
    border-radius: 50%;
}


.snake-head{

    background-color:orange;
    position: relative;

}




