.grid{
    display: flex;
    width:250px;
    height: 500px;
    flex-wrap: wrap;
    background-color: aqua;
    border: 3px solid grey;
}


.grid div{
    width: 25px;
    height: 25px;
    box-shadow: inset 2px 3px 4px;
    
}


.snake{
    background-color: mediumorchid;
}


.food{
    background-color: pink;
}


.box{
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
}

.box:after{
    content: '';
    position: absolute;
    
}